include LICENSE
include NOTICE
include README.rst
include requirements.txt

recursive-include nipyapi *
recursive-exclude * *.py[co]

# Prune docs and resources
prune docs
prune resources
prune examples