include docs/authors.rst
include docs/contributing.rst
include docs/history.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include tests *
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
