"""
    Apache NiFi REST API

    REST API definition for Apache NiFi web services

    OpenAPI spec version: 2.5.0
    Contact: dev@nifi.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

import sys
import os
import re

from ..configuration import Configuration
from ..api_client import ApiClient


class CountersApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_counters(self, **kwargs):
        """
        Gets the current counters for this NiFi

        Note: This endpoint is subject to change as NiFi and it's REST API evolve.

        This method makes a synchronous HTTP request.

        :param bool nodewise: Whether or not to include the breakdown per node. Optional, defaults to false
        :param str cluster_node_id: The id of the node where to get the status.
        :return: CountersEntity
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_counters_with_http_info(**kwargs)
        else:
            (data) = self.get_counters_with_http_info(**kwargs)
            return data

    def get_counters_with_http_info(self, **kwargs):
        """
        Gets the current counters for this NiFi

        Note: This endpoint is subject to change as NiFi and it's REST API evolve.

        This method makes a synchronous HTTP request.

        :param bool nodewise: Whether or not to include the breakdown per node. Optional, defaults to false
        :param str cluster_node_id: The id of the node where to get the status.
        :return: CountersEntity
        """

        all_params = ['nodewise', 'cluster_node_id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_counters" % key
                )
            params[key] = val
        del params['kwargs']



        collection_formats = {}

        path_params = {}

        query_params = []
        if 'nodewise' in params:
            query_params.append(('nodewise', params['nodewise']))
        if 'cluster_node_id' in params:
            query_params.append(('clusterNodeId', params['cluster_node_id']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/counters', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CountersEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def update_counter(self, id, **kwargs):
        """
        Updates the specified counter. This will reset the counter value to 0

        Note: This endpoint is subject to change as NiFi and it's REST API evolve.

        This method makes a synchronous HTTP request.

        :param str id: The id of the counter. (required)
        :return: CounterEntity
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_counter_with_http_info(id, **kwargs)
        else:
            (data) = self.update_counter_with_http_info(id, **kwargs)
            return data

    def update_counter_with_http_info(self, id, **kwargs):
        """
        Updates the specified counter. This will reset the counter value to 0

        Note: This endpoint is subject to change as NiFi and it's REST API evolve.

        This method makes a synchronous HTTP request.

        :param str id: The id of the counter. (required)
        :return: CounterEntity
        """

        all_params = ['id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_counter" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_counter`")


        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/counters/{id}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CounterEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
