"""
    Apache NiFi REST API

    REST API definition for Apache NiFi web services

    OpenAPI spec version: 2.7.2
    Contact: dev@nifi.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

import sys
import os
import re

from ..configuration import Configuration
from ..api_client import ApiClient


class ParameterContextsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def create_asset(self, body, context_id, **kwargs):
        """
        Creates a new Asset in the given Parameter Context.

        This endpoint will create a new Asset in the given Parameter Context. The Asset will be created with the given name and the contents of the file that is uploaded. The Asset will be created in the given Parameter Context, and will be available for use by any component that references the Parameter Context.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``create_asset_with_http_info()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.object`): 
                The contents of the asset. (required)
            context_id (str): (required)
            filename (str):
                
        Returns:
            :class:`~nipyapi.nifi.models.AssetEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_asset_with_http_info(body, context_id, **kwargs)
        else:
            (data) = self.create_asset_with_http_info(body, context_id, **kwargs)
            return data

    def create_asset_with_http_info(self, body, context_id, **kwargs):
        """
        Creates a new Asset in the given Parameter Context.

        This endpoint will create a new Asset in the given Parameter Context. The Asset will be created with the given name and the contents of the file that is uploaded. The Asset will be created in the given Parameter Context, and will be available for use by any component that references the Parameter Context.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``create_asset()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.object`): 
                The contents of the asset. (required)
            context_id (str): (required)
            filename (str):
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.AssetEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['body', 'context_id', 'filename']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_asset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_asset`")
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `create_asset`")

 
 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']

        query_params = []

        header_params = {}
        if 'filename' in params:
            header_params['Filename'] = params['filename']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/octet-stream'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/assets', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AssetEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def create_parameter_context(self, body, **kwargs):
        """
        Create a Parameter Context.
        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``create_parameter_context_with_http_info()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.ParameterContextEntity`): 
                The Parameter Context. (required)
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_parameter_context_with_http_info(body, **kwargs)
        else:
            (data) = self.create_parameter_context_with_http_info(body, **kwargs)
            return data

    def create_parameter_context_with_http_info(self, body, **kwargs):
        """
        Create a Parameter Context.
        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``create_parameter_context()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.ParameterContextEntity`): 
                The Parameter Context. (required)
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['body']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_parameter_context" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_parameter_context`")

 
        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def delete_asset(self, context_id, asset_id, **kwargs):
        """
        Deletes an Asset from the given Parameter Context.

        This endpoint will create a new Asset in the given Parameter Context. The Asset will be created with the given name and the contents of the file that is uploaded. The Asset will be created in the given Parameter Context, and will be available for use by any component that references the Parameter Context.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``delete_asset_with_http_info()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            asset_id (str): 
                The ID of the Asset (required)
            disconnected_node_acknowledged (bool):
                
        Returns:
            :class:`~nipyapi.nifi.models.AssetEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_asset_with_http_info(context_id, asset_id, **kwargs)
        else:
            (data) = self.delete_asset_with_http_info(context_id, asset_id, **kwargs)
            return data

    def delete_asset_with_http_info(self, context_id, asset_id, **kwargs):
        """
        Deletes an Asset from the given Parameter Context.

        This endpoint will create a new Asset in the given Parameter Context. The Asset will be created with the given name and the contents of the file that is uploaded. The Asset will be created in the given Parameter Context, and will be available for use by any component that references the Parameter Context.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``delete_asset()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            asset_id (str): 
                The ID of the Asset (required)
            disconnected_node_acknowledged (bool):
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.AssetEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['context_id', 'asset_id', 'disconnected_node_acknowledged']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_asset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `delete_asset`")
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params) or (params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `delete_asset`")

 
 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']
        if 'asset_id' in params:
            path_params['assetId'] = params['asset_id']

        query_params = []
        if 'disconnected_node_acknowledged' in params:
            query_params.append(('disconnectedNodeAcknowledged', params['disconnected_node_acknowledged']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/assets/{assetId}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AssetEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def delete_parameter_context(self, id, **kwargs):
        """
        Deletes the Parameter Context with the given ID.

        Deletes the Parameter Context with the given ID.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``delete_parameter_context_with_http_info()`` method instead.
        
        Args:
            id (str): 
                The Parameter Context ID. (required)
            version (:class:`~nipyapi.nifi.models.LongParameter`): 
                The version is used to verify the client is working with the latest version of the flow.
            client_id (:class:`~nipyapi.nifi.models.ClientIdParameter`): 
                If the client id is not specified, a new one will be generated. This value (whether specified or generated) is included in the response.
            disconnected_node_acknowledged (bool): 
                Acknowledges that this node is disconnected to allow for mutable requests to proceed.
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_parameter_context_with_http_info(id, **kwargs)
        else:
            (data) = self.delete_parameter_context_with_http_info(id, **kwargs)
            return data

    def delete_parameter_context_with_http_info(self, id, **kwargs):
        """
        Deletes the Parameter Context with the given ID.

        Deletes the Parameter Context with the given ID.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``delete_parameter_context()`` method instead.
        
        Args:
            id (str): 
                The Parameter Context ID. (required)
            version (:class:`~nipyapi.nifi.models.LongParameter`): 
                The version is used to verify the client is working with the latest version of the flow.
            client_id (:class:`~nipyapi.nifi.models.ClientIdParameter`): 
                If the client id is not specified, a new one will be generated. This value (whether specified or generated) is included in the response.
            disconnected_node_acknowledged (bool): 
                Acknowledges that this node is disconnected to allow for mutable requests to proceed.
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['id', 'version', 'client_id', 'disconnected_node_acknowledged']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_parameter_context" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_parameter_context`")

 
 
 
 
        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []
        if 'version' in params:
            query_params.append(('version', params['version']))
        if 'client_id' in params:
            query_params.append(('clientId', params['client_id']))
        if 'disconnected_node_acknowledged' in params:
            query_params.append(('disconnectedNodeAcknowledged', params['disconnected_node_acknowledged']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{id}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def delete_update_request(self, context_id, request_id, **kwargs):
        """
        Deletes the Update Request with the given ID.

        Deletes the Update Request with the given ID. After a request is created via a POST to /nifi-api/parameter-contexts/update-requests, it is expected that the client will properly clean up the request by DELETE'ing it, once the Update process has completed. If the request is deleted before the request completes, then the Update request will finish the step that it is currently performing and then will cancel any subsequent steps.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``delete_update_request_with_http_info()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the ParameterContext (required)
            request_id (str): 
                The ID of the Update Request (required)
            disconnected_node_acknowledged (bool): 
                Acknowledges that this node is disconnected to allow for mutable requests to proceed.
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextUpdateRequestEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_update_request_with_http_info(context_id, request_id, **kwargs)
        else:
            (data) = self.delete_update_request_with_http_info(context_id, request_id, **kwargs)
            return data

    def delete_update_request_with_http_info(self, context_id, request_id, **kwargs):
        """
        Deletes the Update Request with the given ID.

        Deletes the Update Request with the given ID. After a request is created via a POST to /nifi-api/parameter-contexts/update-requests, it is expected that the client will properly clean up the request by DELETE'ing it, once the Update process has completed. If the request is deleted before the request completes, then the Update request will finish the step that it is currently performing and then will cancel any subsequent steps.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``delete_update_request()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the ParameterContext (required)
            request_id (str): 
                The ID of the Update Request (required)
            disconnected_node_acknowledged (bool): 
                Acknowledges that this node is disconnected to allow for mutable requests to proceed.
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextUpdateRequestEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['context_id', 'request_id', 'disconnected_node_acknowledged']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_update_request" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `delete_update_request`")
        # verify the required parameter 'request_id' is set
        if ('request_id' not in params) or (params['request_id'] is None):
            raise ValueError("Missing the required parameter `request_id` when calling `delete_update_request`")

 
 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']
        if 'request_id' in params:
            path_params['requestId'] = params['request_id']

        query_params = []
        if 'disconnected_node_acknowledged' in params:
            query_params.append(('disconnectedNodeAcknowledged', params['disconnected_node_acknowledged']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/update-requests/{requestId}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextUpdateRequestEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def delete_validation_request(self, context_id, id, **kwargs):
        """
        Deletes the Validation Request with the given ID.

        Deletes the Validation Request with the given ID. After a request is created via a POST to /nifi-api/validation-contexts, it is expected that the client will properly clean up the request by DELETE'ing it, once the validation process has completed. If the request is deleted before the request completes, then the Validation request will finish the step that it is currently performing and then will cancel any subsequent steps.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``delete_validation_request_with_http_info()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            id (str): 
                The ID of the Update Request (required)
            disconnected_node_acknowledged (bool): 
                Acknowledges that this node is disconnected to allow for mutable requests to proceed.
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextValidationRequestEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_validation_request_with_http_info(context_id, id, **kwargs)
        else:
            (data) = self.delete_validation_request_with_http_info(context_id, id, **kwargs)
            return data

    def delete_validation_request_with_http_info(self, context_id, id, **kwargs):
        """
        Deletes the Validation Request with the given ID.

        Deletes the Validation Request with the given ID. After a request is created via a POST to /nifi-api/validation-contexts, it is expected that the client will properly clean up the request by DELETE'ing it, once the validation process has completed. If the request is deleted before the request completes, then the Validation request will finish the step that it is currently performing and then will cancel any subsequent steps.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``delete_validation_request()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            id (str): 
                The ID of the Update Request (required)
            disconnected_node_acknowledged (bool): 
                Acknowledges that this node is disconnected to allow for mutable requests to proceed.
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextValidationRequestEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['context_id', 'id', 'disconnected_node_acknowledged']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_validation_request" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `delete_validation_request`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_validation_request`")

 
 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []
        if 'disconnected_node_acknowledged' in params:
            query_params.append(('disconnectedNodeAcknowledged', params['disconnected_node_acknowledged']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/validation-requests/{id}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextValidationRequestEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_asset_content(self, context_id, asset_id, **kwargs):
        """
        Retrieves the content of the asset with the given id.
        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``get_asset_content_with_http_info()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            asset_id (str): 
                The ID of the Asset (required)
                
        Returns:
            str: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_asset_content_with_http_info(context_id, asset_id, **kwargs)
        else:
            (data) = self.get_asset_content_with_http_info(context_id, asset_id, **kwargs)
            return data

    def get_asset_content_with_http_info(self, context_id, asset_id, **kwargs):
        """
        Retrieves the content of the asset with the given id.
        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``get_asset_content()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            asset_id (str): 
                The ID of the Asset (required)
                
        Returns:
            tuple: (str, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['context_id', 'asset_id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_asset_content" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `get_asset_content`")
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params) or (params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `get_asset_content`")

 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']
        if 'asset_id' in params:
            path_params['assetId'] = params['asset_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/octet-stream'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/assets/{assetId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='str',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_assets(self, context_id, **kwargs):
        """
        Lists the assets that belong to the Parameter Context with the given ID.

        Lists the assets that belong to the Parameter Context with the given ID.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``get_assets_with_http_info()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
                
        Returns:
            :class:`~nipyapi.nifi.models.AssetsEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_assets_with_http_info(context_id, **kwargs)
        else:
            (data) = self.get_assets_with_http_info(context_id, **kwargs)
            return data

    def get_assets_with_http_info(self, context_id, **kwargs):
        """
        Lists the assets that belong to the Parameter Context with the given ID.

        Lists the assets that belong to the Parameter Context with the given ID.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``get_assets()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.AssetsEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['context_id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_assets" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `get_assets`")

 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/assets', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AssetsEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_parameter_context(self, id, **kwargs):
        """
        Returns the Parameter Context with the given ID.

        Returns the Parameter Context with the given ID.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``get_parameter_context_with_http_info()`` method instead.
        
        Args:
            id (str): 
                The ID of the Parameter Context (required)
            include_inherited_parameters (bool): 
                Whether or not to include inherited parameters from other parameter contexts, and therefore also overridden values.  If true, the result will be the 'effective' parameter context.
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_parameter_context_with_http_info(id, **kwargs)
        else:
            (data) = self.get_parameter_context_with_http_info(id, **kwargs)
            return data

    def get_parameter_context_with_http_info(self, id, **kwargs):
        """
        Returns the Parameter Context with the given ID.

        Returns the Parameter Context with the given ID.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``get_parameter_context()`` method instead.
        
        Args:
            id (str): 
                The ID of the Parameter Context (required)
            include_inherited_parameters (bool): 
                Whether or not to include inherited parameters from other parameter contexts, and therefore also overridden values.  If true, the result will be the 'effective' parameter context.
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['id', 'include_inherited_parameters']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parameter_context" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_parameter_context`")

 
 
        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []
        if 'include_inherited_parameters' in params:
            query_params.append(('includeInheritedParameters', params['include_inherited_parameters']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{id}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_parameter_context_update(self, context_id, request_id, **kwargs):
        """
        Returns the Update Request with the given ID.

        Returns the Update Request with the given ID. Once an Update Request has been created by performing a POST to /nifi-api/parameter-contexts, that request can subsequently be retrieved via this endpoint, and the request that is fetched will contain the updated state, such as percent complete, the current state of the request, and any failures. 

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``get_parameter_context_update_with_http_info()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            request_id (str): 
                The ID of the Update Request (required)
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextUpdateRequestEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_parameter_context_update_with_http_info(context_id, request_id, **kwargs)
        else:
            (data) = self.get_parameter_context_update_with_http_info(context_id, request_id, **kwargs)
            return data

    def get_parameter_context_update_with_http_info(self, context_id, request_id, **kwargs):
        """
        Returns the Update Request with the given ID.

        Returns the Update Request with the given ID. Once an Update Request has been created by performing a POST to /nifi-api/parameter-contexts, that request can subsequently be retrieved via this endpoint, and the request that is fetched will contain the updated state, such as percent complete, the current state of the request, and any failures. 

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``get_parameter_context_update()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            request_id (str): 
                The ID of the Update Request (required)
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextUpdateRequestEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['context_id', 'request_id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parameter_context_update" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `get_parameter_context_update`")
        # verify the required parameter 'request_id' is set
        if ('request_id' not in params) or (params['request_id'] is None):
            raise ValueError("Missing the required parameter `request_id` when calling `get_parameter_context_update`")

 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']
        if 'request_id' in params:
            path_params['requestId'] = params['request_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/update-requests/{requestId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextUpdateRequestEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_validation_request(self, context_id, id, **kwargs):
        """
        Returns the Validation Request with the given ID.

        Returns the Validation Request with the given ID. Once a Validation Request has been created by performing a POST to /nifi-api/validation-contexts, that request can subsequently be retrieved via this endpoint, and the request that is fetched will contain the updated state, such as percent complete, the current state of the request, and any failures. 

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``get_validation_request_with_http_info()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            id (str): 
                The ID of the Validation Request (required)
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextValidationRequestEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_validation_request_with_http_info(context_id, id, **kwargs)
        else:
            (data) = self.get_validation_request_with_http_info(context_id, id, **kwargs)
            return data

    def get_validation_request_with_http_info(self, context_id, id, **kwargs):
        """
        Returns the Validation Request with the given ID.

        Returns the Validation Request with the given ID. Once a Validation Request has been created by performing a POST to /nifi-api/validation-contexts, that request can subsequently be retrieved via this endpoint, and the request that is fetched will contain the updated state, such as percent complete, the current state of the request, and any failures. 

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``get_validation_request()`` method instead.
        
        Args:
            context_id (str): 
                The ID of the Parameter Context (required)
            id (str): 
                The ID of the Validation Request (required)
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextValidationRequestEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['context_id', 'id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_validation_request" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `get_validation_request`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_validation_request`")

 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/validation-requests/{id}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextValidationRequestEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def submit_parameter_context_update(self, body, context_id, **kwargs):
        """
        Initiate the Update Request of a Parameter Context.

        This will initiate the process of updating a Parameter Context. Changing the value of a Parameter may require that one or more components be stopped and restarted, so this action may take significantly more time than many other REST API actions. As a result, this endpoint will immediately return a ParameterContextUpdateRequestEntity, and the process of updating the necessary components will occur asynchronously in the background. The client may then periodically poll the status of the request by issuing a GET request to /parameter-contexts/update-requests/{requestId}. Once the request is completed, the client is expected to issue a DELETE request to /parameter-contexts/update-requests/{requestId}.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``submit_parameter_context_update_with_http_info()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.ParameterContextEntity`): 
                The updated version of the parameter context. (required)
            context_id (str): (required)
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextUpdateRequestEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.submit_parameter_context_update_with_http_info(body, context_id, **kwargs)
        else:
            (data) = self.submit_parameter_context_update_with_http_info(body, context_id, **kwargs)
            return data

    def submit_parameter_context_update_with_http_info(self, body, context_id, **kwargs):
        """
        Initiate the Update Request of a Parameter Context.

        This will initiate the process of updating a Parameter Context. Changing the value of a Parameter may require that one or more components be stopped and restarted, so this action may take significantly more time than many other REST API actions. As a result, this endpoint will immediately return a ParameterContextUpdateRequestEntity, and the process of updating the necessary components will occur asynchronously in the background. The client may then periodically poll the status of the request by issuing a GET request to /parameter-contexts/update-requests/{requestId}. Once the request is completed, the client is expected to issue a DELETE request to /parameter-contexts/update-requests/{requestId}.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``submit_parameter_context_update()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.ParameterContextEntity`): 
                The updated version of the parameter context. (required)
            context_id (str): (required)
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextUpdateRequestEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['body', 'context_id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method submit_parameter_context_update" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `submit_parameter_context_update`")
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `submit_parameter_context_update`")

 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/update-requests', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextUpdateRequestEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def submit_validation_request(self, body, context_id, **kwargs):
        """
        Initiate a Validation Request to determine how the validity of components will change if a Parameter Context were to be updated.

        This will initiate the process of validating all components whose Process Group is bound to the specified Parameter Context. Performing validation against an arbitrary number of components may be expect and take significantly more time than many other REST API actions. As a result, this endpoint will immediately return a ParameterContextValidationRequestEntity, and the process of validating the necessary components will occur asynchronously in the background. The client may then periodically poll the status of the request by issuing a GET request to /parameter-contexts/validation-requests/{requestId}. Once the request is completed, the client is expected to issue a DELETE request to /parameter-contexts/validation-requests/{requestId}.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``submit_validation_request_with_http_info()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.ParameterContextValidationRequestEntity`): 
                The validation request (required)
            context_id (str): (required)
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextValidationRequestEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.submit_validation_request_with_http_info(body, context_id, **kwargs)
        else:
            (data) = self.submit_validation_request_with_http_info(body, context_id, **kwargs)
            return data

    def submit_validation_request_with_http_info(self, body, context_id, **kwargs):
        """
        Initiate a Validation Request to determine how the validity of components will change if a Parameter Context were to be updated.

        This will initiate the process of validating all components whose Process Group is bound to the specified Parameter Context. Performing validation against an arbitrary number of components may be expect and take significantly more time than many other REST API actions. As a result, this endpoint will immediately return a ParameterContextValidationRequestEntity, and the process of validating the necessary components will occur asynchronously in the background. The client may then periodically poll the status of the request by issuing a GET request to /parameter-contexts/validation-requests/{requestId}. Once the request is completed, the client is expected to issue a DELETE request to /parameter-contexts/validation-requests/{requestId}.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``submit_validation_request()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.ParameterContextValidationRequestEntity`): 
                The validation request (required)
            context_id (str): (required)
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextValidationRequestEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['body', 'context_id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method submit_validation_request" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `submit_validation_request`")
        # verify the required parameter 'context_id' is set
        if ('context_id' not in params) or (params['context_id'] is None):
            raise ValueError("Missing the required parameter `context_id` when calling `submit_validation_request`")

 
 
        collection_formats = {}

        path_params = {}
        if 'context_id' in params:
            path_params['contextId'] = params['context_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{contextId}/validation-requests', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextValidationRequestEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def update_parameter_context(self, body, id, **kwargs):
        """
        Modifies a Parameter Context.

        This endpoint will update a Parameter Context to match the provided entity. However, this request will fail if any component is running and is referencing a Parameter in the Parameter Context. Generally, this endpoint is not called directly. Instead, an update request should be submitted by making a POST to the /parameter-contexts/update-requests endpoint. That endpoint will, in turn, call this endpoint.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``update_parameter_context_with_http_info()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.ParameterContextEntity`): 
                The updated Parameter Context (required)
            id (str): (required)
                
        Returns:
            :class:`~nipyapi.nifi.models.ParameterContextEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_parameter_context_with_http_info(body, id, **kwargs)
        else:
            (data) = self.update_parameter_context_with_http_info(body, id, **kwargs)
            return data

    def update_parameter_context_with_http_info(self, body, id, **kwargs):
        """
        Modifies a Parameter Context.

        This endpoint will update a Parameter Context to match the provided entity. However, this request will fail if any component is running and is referencing a Parameter in the Parameter Context. Generally, this endpoint is not called directly. Instead, an update request should be submitted by making a POST to the /parameter-contexts/update-requests endpoint. That endpoint will, in turn, call this endpoint.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``update_parameter_context()`` method instead.
        
        Args:
            body (:class:`~nipyapi.nifi.models.ParameterContextEntity`): 
                The updated Parameter Context (required)
            id (str): (required)
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.ParameterContextEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['body', 'id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_parameter_context" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_parameter_context`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_parameter_context`")

 
 
        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['CookieSecureAuthorizationBearer', 'HTTPBearerJWT']

        return self.api_client.call_api('/parameter-contexts/{id}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ParameterContextEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
