"""
    Apache NiFi REST API

    REST API definition for Apache NiFi web services

    OpenAPI spec version: 2.5.0
    Contact: dev@nifi.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

import sys
import os
import re

from ..configuration import Configuration
from ..api_client import ApiClient


class SystemDiagnosticsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_jmx_metrics(self, **kwargs):
        """
        Retrieve available JMX metrics.

        Note: This endpoint is subject to change as NiFi and it's REST API evolve.

        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``get_jmx_metrics_with_http_info()`` method instead.
        
        Args:
            bean_name_filter (str): 
                Regular Expression Pattern to be applied against the ObjectName
                
        Returns:
            :class:`~nipyapi.nifi.models.JmxMetricsResultsEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_jmx_metrics_with_http_info(**kwargs)
        else:
            (data) = self.get_jmx_metrics_with_http_info(**kwargs)
            return data

    def get_jmx_metrics_with_http_info(self, **kwargs):
        """
        Retrieve available JMX metrics.

        Note: This endpoint is subject to change as NiFi and it's REST API evolve.

        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``get_jmx_metrics()`` method instead.
        
        Args:
            bean_name_filter (str): 
                Regular Expression Pattern to be applied against the ObjectName
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.JmxMetricsResultsEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['bean_name_filter']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_jmx_metrics" % key
                )
            params[key] = val
        del params['kwargs']

 
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'bean_name_filter' in params:
            query_params.append(('beanNameFilter', params['bean_name_filter']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['bearerAuth']

        return self.api_client.call_api('/system-diagnostics/jmx-metrics', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='JmxMetricsResultsEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_system_diagnostics(self, **kwargs):
        """
        Gets the diagnostics for the system NiFi is running on.
        This method makes a synchronous HTTP request and returns the response data directly.
        
        For full HTTP response details (status code, headers, etc.), use the corresponding 
        ``get_system_diagnostics_with_http_info()`` method instead.
        
        Args:
            nodewise (bool): 
                Whether or not to include the breakdown per node. Optional, defaults to false
            diagnostic_level (str): 
                Whether or not to include verbose details. Optional, defaults to false
            cluster_node_id (str): 
                The id of the node where to get the status.
                
        Returns:
            :class:`~nipyapi.nifi.models.SystemDiagnosticsEntity`: The response data.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_system_diagnostics_with_http_info(**kwargs)
        else:
            (data) = self.get_system_diagnostics_with_http_info(**kwargs)
            return data

    def get_system_diagnostics_with_http_info(self, **kwargs):
        """
        Gets the diagnostics for the system NiFi is running on.
        This method makes a synchronous HTTP request and returns detailed response information.
        
        Returns the response data along with HTTP status code, headers, and other metadata.
        For just the response data, use the corresponding ``get_system_diagnostics()`` method instead.
        
        Args:
            nodewise (bool): 
                Whether or not to include the breakdown per node. Optional, defaults to false
            diagnostic_level (str): 
                Whether or not to include verbose details. Optional, defaults to false
            cluster_node_id (str): 
                The id of the node where to get the status.
                
        Returns:
            tuple: (:class:`~nipyapi.nifi.models.SystemDiagnosticsEntity`, status_code, headers) - Response data with HTTP details.
        """

        all_params = ['nodewise', 'diagnostic_level', 'cluster_node_id']
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_diagnostics" % key
                )
            params[key] = val
        del params['kwargs']

 
 
 
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'nodewise' in params:
            query_params.append(('nodewise', params['nodewise']))
        if 'diagnostic_level' in params:
            query_params.append(('diagnosticLevel', params['diagnostic_level']))
        if 'cluster_node_id' in params:
            query_params.append(('clusterNodeId', params['cluster_node_id']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['bearerAuth']

        return self.api_client.call_api('/system-diagnostics', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='SystemDiagnosticsEntity',
                                        auth_settings=auth_settings,
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
